
<h2>Home Page</h2>

<p>Hi there</p>

<form action ="/sessions" method ="get">
  <input type = "submit" value = "Log in"/>
</form>
<form action ="/sign_up" method ="get">
  <input type = "submit" value = "Sign up"/>
</form>

<ul id='listings'>

  <% @listings.each do |listing|  %>
    <li>ID: <%= listing.id %> :  <%= listing.description %> <br />
    £<%= listing.price %>.00 <br />
    Date From: <%=listing.datefrom %></li>
    <% end %>
</ul>
