<ul id='listings'>

  <% @listings.each do |listing|  %>
    <li><%= listing.description %> <br />
    £<%= listing.price %>.00 per night<br />
    <%= listing.datefrom.strftime("%-d %B %Y")%>
    to <%= listing.dateto.strftime("%-d %B %Y")%>
  </li>
    <% end %>
</ul>
