<!DOCTYPE html>
<html>
<head><title>Makers BnB</title>
<link href="http://assets.makersacademy.com/images/favicons/favicon-16x16.png"
 rel="icon" sizes="16x16" type="image/png">
<link rel="stylesheet" type="text/css" href="<%= url('/normalize.css') %>">
<link rel="stylesheet" type="text/css" href="<%= url('main.css') %>">
</head>
<body>
<div id="main">
<h1>Makers BnB</h1>
  <%= yield %>

</div>
</body>
</html>
