<h2>Adverts</h2>

<form action="/" method='post'>
  User ID: <input type="text" name="userid" />
  Description: <input type="text" name="description" />
  Date From: <input type="text" name="datefrom" />
  Date To: <input type="text" name="dateto" />
  <input type="submit" name="Add" value="Add" />
</form>
