<h2>Listings</h2>

<form action="/" method='post'>
  <!-- User ID: <input type="text" name="userid" /> -->
  Description: <input type="text" name="description" />
  Price: <input type="text" name="price" />
  Date From: <input type="date" name="datefrom" />
  <!-- Date To: <input type="text" name="dateto" /> -->
  <input type="submit" name="Add" value="Add" />
</form>
