
<h2>Enter your details here:</h2>
<form action ="/sessions" method ="post">

  <label>
    Your Email
    <input type = "text" name = "email"/>
  </label><br><br>

  <label>
    Password
    <input type = "text" name = "password"/>
  </label><br><br>

  <label>
  <input type = "submit" value = "Log in" name = "Log in"/>
</label>

</form>
